# Configuration file

"biome specific" {
    S:"Block to generate in frozen caves"=ice
    D:"Probability of Glowing Ice mushrooms on frozen caves"=0.3
    D:"Probability of Glowing mushrooms on humid/jungle caves"=0.3
    D:"Probability of icicles on frozen caves"=0.6
    D:"Probability of less generation arid caves"=0.5
    D:"Probability of more water fountains on wet caves"=0.1
    D:"Probability of sandstone stalactites on arid caves"=0.5
    D:"Probability of vines on jungle caves"=0.5
}


general {
    I:"Chance for a fossil node to generate"=5
    I:"Chance for a skull to be added in chests"=50
    I:"Flora light level"=5
    I:"Max height at which to generate"=150
    I:"Max length of structure generation"=8
    B:"Solid stalactites/stalgmites"=false
    B:"Stalgmites damage entities when fallen on"=false
    I:"times to attempt generating per chunk"=15
}


"non biome specific" {
    I:"Max height at which to generate glowcaps on normal biomes"=225
    D:"Probability of Stalactites/stalagmites"=0.2
    D:"Probability of glowing mushrooms on caves"=0.08
    D:"Probability of skulls"=1.0E-4
    D:"Probability of spider webs"=0.25
    D:"Probability of vines on caves"=0.3
}


permissions {
    S:"Block white list"=stone,grass,dirt,cobblestone,gravel,gold_ore,iron_ore,coal_ore,lapis_ore,sandstone,diamond_ore,redstone_ore,lit_redstone_ore,ice,snow,clay,monster_egg,emerald_ore
    S:"Dimension Blacklist"=-1,1
    B:"Generate Sandstone stalactites on arid biomes"=true
    B:"Generate flora on caves"=true
    B:"Generate stalactites on caves"=true
}


