# Configuration file

general {
    # Whether or not to notify when a new Caveworld version is available. [default: true]
    # Note: If multiplayer, does not have to match client-side and server-side.
    B:versionNotify=false

    # Whether or not to auto register of modded ore veins. [default: true]
    # Note: If multiplayer, server-side only.
    B:veinsAutoRegister=true

    # Whether or not to lose mining point on death. [default: false]
    # Note: If multiplayer, server-side only.
    B:deathLoseMiningPoint=false

    # Specify the mining point render type. [range: 0 ~ 4, default: 0]
    # 0: Top Right, 
    # 1: Buttom Right, 
    # 2: Top Left, 
    # 3: Buttom Left, 
    # 4: Hidden
    I:miningPointRenderType=0

    # Specify the valid items that can getting mining point.
    S:miningPointValidItems <
        Botania:elementiumPick
        Botania:glassPick
        Botania:manasteelPick
        Botania:terraPick
        EE3:pickAxeDarkMatter
        ExtraUtilities:destructionpickaxe
        Thaumcraft:ItemPickThaumium
        Thaumcraft:ItemPickVoid
        Thaumcraft:ItemPickaxeElemental
        Thaumcraft:ItemPrimalCrusher
        aura:angelsteelPickaxe0
        aura:angelsteelPickaxe1
        aura:angelsteelPickaxe10
        aura:angelsteelPickaxe2
        aura:angelsteelPickaxe3
        aura:angelsteelPickaxe4
        aura:angelsteelPickaxe5
        aura:angelsteelPickaxe6
        aura:angelsteelPickaxe7
        aura:angelsteelPickaxe8
        aura:angelsteelPickaxe9
        kegare.caveworld:mining_pickaxe
        minecraft:diamond_pickaxe
        minecraft:golden_pickaxe
        minecraft:iron_pickaxe
        minecraft:stone_pickaxe
        minecraft:wooden_pickaxe
     >

    # Whether or not to Mining Pickaxe fake to the base pickaxe. [default: false]
    B:fakeMiningPickaxe=false

    # Whether or not to Lumbering Axe fake to the base axe. [default: false]
    B:fakeLumberingAxe=false

    # Whether or not to Digging Shovel fake to the base shovel. [default: false]
    B:fakeDiggingShovel=false

    # Specify the milliseconds for mining mode simple information display time. [range: 0 ~ 2147483647, default: 2200]
    I:modeDisplayTime=2200

    # Specify the break block count of quick breaking. If specify 0, that will be unlimited. [range: 0 ~ 1000, default: 100]
    I:quickBreakLimit=100
}


options {
    # If go to the Caveworld, Cannot go back from the Caveworld. [default: false]
    # Note: If multiplayer, server-side only.
    B:hardcore=true

    # Transfer to the Caveworld dimension when join to world for the first time. [default: false]
    # Note: If multiplayer, server-side only.
    B:caveborn=false
}


recipes {
    # Whether or not to add the crafting recipe of Caveworld Portal Block. [default: false]
    B:portalCraftRecipe=false

    # Whether or not to add the crafting recipe of Moss Stone. [default: true]
    B:mossStoneCraftRecipe=false

    # Whether or not to add the crafting recipe of Refined Cavenium. [default: false]
    B:refinedCaveniumCraftRecipe=false
}


