# Configuration file

ArcherZombie {
    # Specify the spawn weight. When specify 0, it does not spawn. [range: 0 ~ 1000, default: 100]
    I:spawnWeight=100

    # Specify the spawn minimum height. [range: 1 ~ 255, default: 10]
    I:spawnMinHeight=10

    # Specify the spawn maximum height. [range: 1 ~ 255, default: 255]
    I:spawnMaxHeight=255

    # Specify the spawn limit for each chunk. [range: 1 ~ 500, default: 4]
    I:spawnInChunks=20

    # Specify the spawn biomes.
    I:spawnBiomes <
     >
}


Caveman {
    # Specify the spawn weight. When specify 0, it does not spawn. [range: 0 ~ 1000, default: 2]
    I:spawnWeight=0

    # Specify the spawn minimum height. [range: 1 ~ 255, default: 10]
    I:spawnMinHeight=10

    # Specify the spawn maximum height. [range: 1 ~ 255, default: 255]
    I:spawnMaxHeight=255

    # Specify the spawn limit for each chunk. [range: 1 ~ 500, default: 1]
    I:spawnInChunks=1

    # Specify the spawn biomes.
    I:spawnBiomes <
     >

    # Specify the creature type. [range: 0 ~ 1, default: 0]
    # 0: Always friendly, 
    # 1: Hostile when untamed
    I:creatureType=0

    # Whether or not to show health bar of tamed this mob. [default: true]
    B:showHealthBar=true
}


CavenicSkeleton {
    # Specify the spawn weight. When specify 0, it does not spawn. [range: 0 ~ 1000, default: 10]
    I:spawnWeight=10

    # Specify the spawn minimum height. [range: 1 ~ 255, default: 30]
    I:spawnMinHeight=30

    # Specify the spawn maximum height. [range: 1 ~ 255, default: 100]
    I:spawnMaxHeight=100

    # Specify the spawn limit for each chunk. [range: 1 ~ 500, default: 2]
    I:spawnInChunks=2

    # Specify the spawn biomes.
    I:spawnBiomes <
     >
}


